
body{border-right: 10px;}

h1#myName {text-align: center !important;}

div.description h2 { text-align: justify;
    text-justify: inter-word;   font-weight: bold; }

    h2 {    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;}

body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.col-md-3  { text-align: center !important; display: inline-block;}
.col-md-6  { text-align: center !important; display: inline-block;}
.centered {text-align: center !important;}
.justified{text-align: justify !important;}
.bold{font-weight: bold;}
.cursiva {font-family: cursive;}

#xaxis .domain {
    fill:none;
    stroke:#000;
  }
  #xaxis text, #yaxis text {
    font-size: 12px;
  }
  a.BigLink { text-align: center; display: inline-block; font-size: 50px;  }
  #bibliografia {text-align: center;}